@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P', cursive;
    background:
    linear-gradient(to right, #16d7cb, #ffa140);
    text-align: center;
    margin: auto;
}

.wrapper {
    width: 75%;
    margin: auto;
    text-align: center;
}

.btn {
    font-family: 'Press Start 2P', cursive;
    padding: 2rem 2rem;
    border-radius: 50%;
    text-align: center;
    border: 3px solid black;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    color: snow;
}

.dice-area {
    margin: 0px 50px;
    text-align: center;
}

p {
    font-size: 1.5rem;
    color: snow;
}

img {
    width: 200px;
    margin-bottom: 2rem;
}

.scores {
    text-align: center;
    display: inline-block; 
}
